.navBar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 8px 6px -6px #999;
}

ul {
	list-style: none;
}

.navLogo {
	float: left;
}

.navItem img {
	height: 70px;
	width: 200px;
}

.navLink {
	float: right;
}

.navItem a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #E73A3C;
	background-color: #F3F0F0;
	margin-right: 5px;
	border-radius: 25px;
	margin-top: 10px;
}

.dropdown {
	float: right;
	overflow: hidden;
	margin-top: 10px;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;	
	border-radius: 25px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: #F3F0F0;
	color: #E73A3C;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #F3F0F0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: #F3F0F0;
}

.dropDownOptions {
	display: block;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #E73A3C;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;

}

.active {
	background-color: white !important;
}

.container {
	background-color:  #F8F8F8;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 4px;
}

.flex {
	width: 450px;
	height: 800px;
	margin: 10px;
	transition: all 1s;
}

.flex-left {
	flex-grow: 1;
	padding: 20px 10px 20px 10px;
	box-shadow: 8px 0px 6px -6px #999;
}

.flex-right {
	flex-grow: 4;
	padding: 20px 10px 20px 10px;
}

.dateTimeCont {
	width: 100%;
}


.dateTime {
	width: 33%;
	float: left;
	color: #585858;
}

.customerDataCont {
	margin-top: 35px;
	width: 100%;
	height: 60px;
}

.customerLeft {
	width: 50%;
	float: left;
}
.customerRight {
	width: 50%;	
	float: left;
	text-align: center;
}

h1 {
	margin: 0;
}

h2 {
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
	border: 1px solid lightgray;
	display: inline-block;
	cursor:pointer;
	float: left;
	width: 100%;
	color: black;
}
 
.customerSpecial {
	margin-top: -2%;
}

.itemGrid {
	width: 100%;
	margin-top: 20px;
}


.contentLs, .contentRs {
	width: 46%;
	float: left;
	background-color: white;
	padding: 5px 10px 5px 10px;
}

.qtyCol, .itemCol {
	width: 50%;
	float: left;
}

.sizeCol, .eachCol, .totalCol {
	width: 30%;
	float: left;
}

.itemCount {
	width: 100%;
	color: gray;
	text-align: center;
	padding: 30px 0 7px 0;
}

.itemList {
	background-color: white;	
	float: left;
	width: 100%;
}

.addedItem {
	height: 250px;
	width: 100%;
}

.fa-plus {
	border-radius: 50%;
	padding: 15px;
	background-color: #F8F8F8;
	color: #E73A3C;
	font-size: 12px;
	margin: 10px;
}

.paymentDetails {
	width: 100%;
}

.paymentL, .paymentR {
	width: 45%;
	padding: 10px;
	text-align: center;
	float: left;
}

.fastCash {
	width: 50%;
	display: inline-block;
	cursor:pointer;
	float: left;
}

.fa-bolt, .fa-times, .fa-percent, .fa-clock, .fa-dollar-sign {
	text-align: center;
	color: #E79712;
	margin: 10px;
	background-color: #F8F8F8;
	border-radius: 50%;
	padding: 15px;
	font-size: 24px;
	box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
	border: 1px solid lightgray;
	display: inline-block;
	cursor:pointer;
	float: left;
	width: 60%;
}

.fc {
	font-size: 12px;	
}

.addedCash {
	width: 50%;
	float: left;
	text-align: left;
	color: gray;
	list-style-type: none;
	overflow: hidden;
	float: 
}

.addedCash ul {
	font-size: 15px;
	padding-top: 5%;
	width: 100%;
}
	

.addedCash ul li {
	padding-top: 5px;
	width: 100%;
}

.paymentR > h1 {
	color: #E73A3C;
	padding-top: 5%;
}

.paymentR p {
	color: brown;
	font-weight: bold;
}

.pay {
	width: 100%;
	float: left;
	border-top: 1px solid lightgray;
	padding: 0 0 0 0px;
	margin-top: 25px;
}

.pay ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
}

.pay ul li {
	float: left;
	width: 25%;
}

.fa-times, .fa-percent, .fa-clock, .fa-dollar-sign {
	color: #E73A3C;
}

.currentPay {
	background-color: #E73A3C;
	color: white;
	padding-bottom: 35px;

}

.co {
	font-size: 22px;
	font-weight: normal;
}

.searchBox {
	width: 98%;
}

.search {
	width: 100%;
	border-radius: 12px;
	padding: 5px 10px 5px 10px;
	border: 0.5px solid lightgray;
}

.myInput {
  background-image: url("searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius:25px;
}


